
@{
    ViewData["Title"] = "Linked";
}

<div style="text-align: center;">
    <img src="https://tango.highgroundvision.com/images/image0.png" style="width: 50%;" />
    <h1>Accounts Linked</h1>
    <p>The process is complete you can close the Browser and return to Discord.</p>
</div>
